.works{
    padding: 90px 0 52px;
    margin-bottom: 58px;
    .title{
        color: #21243D;
        font-size: 44px;
        line-height: 60px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .items{
        .item{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding-bottom: 47px;
            margin-bottom: 43px;
            border-bottom: 1px solid #E0E0E0;
            img{
                width: 246px;
                height: 180px;
                margin-right: 18px;
            }
            .text{
                h5{
                    font-size: 30px;
                    line-height: 44px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                div{
                    margin-bottom: 22px;
                    div{
                        display: inline-block;
                        background-color:#142850;
                        padding: 5px 12px;
                        border-radius: 60px;
                        color:#fff;
                        margin-right: 26px;
                    }
                    span{
                        color:#8695A4;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 29px;
                    }
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 23px;
                    color:#21243D;
                }
            }
        }
    }
}